div.notes-container{
    display: flex;
    flex-direction: column;
}
mat-expansion-panel{
    width:60vw;
    margin:5vh auto;
}

div.note-taker-form-container{
    display: flex;
    flex-direction: column;
}
div.notes-card-container{
   
    width:80vw;
    margin:15vh auto;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;    

}
.note-card{
    margin:1em;
}